.hero-title {
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(../img/space.jpg);
    background-position: inherit;
    background-attachment: fixed;
    background-size: 100%;
}