.hero-title {
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(../img/space.jpg);
    background-position: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero .hero-title {
    font-size: 10rem;
    filter: drop-shadow(-4px 9px 16px #000000);
}

@media(min-width: 850px) {
    .home-hero .hero-title {
        font-size: 25rem;
    }
  }